.main {
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);

  width: min(92%, 1280px);
  height: 74px;

  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(17, 17, 17, 0.72);
  backdrop-filter: blur(18px);

  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 999px;

  z-index: 999;
}

.logo {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  background: transparent;
  border: none;
  color: rgba(255,255,255,0.7);

  font-size: 14px;
  font-weight: 500;

  padding: 10px 16px;
  border-radius: 999px;

  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background: rgba(255,255,255,0.06);
  color: #fff;
}

.instagram-btn {
  height: 46px;
  padding: 0 22px;

  border: none;
  border-radius: 999px;

  background: #fff;
  color: #111;

  font-weight: 600;
  font-size: 14px;

  cursor: pointer;
  transition: 0.3s ease;
}

.instagram-btn:hover {
  transform: translateY(-2px);
}

.menu-btn {
  display: none;

  background: transparent;
  border: none;

  color: white;
  font-size: 30px;

  cursor: pointer;
}

/* MOBILE */

@media (max-width: 900px) {
  .main {
    height: 68px;
    top: 16px;
    padding: 0 10px;
  }

  .instagram-btn {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .nav {
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    width:348px;


    display: flex;
    flex-direction: column;
    gap: 6px;

    padding: 14px;

    background: rgba(17, 17, 17, 0.95);
    backdrop-filter: blur(20px);

    border-radius: 24px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-15px);

    transition: 0.3s ease;
  }

  .nav-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-link {
    width: 100%;
    text-align: left;
    padding: 14px 18px;
  }
}