.contact-section {
  width: 100%;
}

.contact-inner {
  width: min(92%, 1320px);
  margin: 0 auto;

  min-height: 650px;
  padding: 70px;

  display: grid;
  grid-template-columns: 1fr 0.9fr;
  gap: 70px;
  align-items: center;


  overflow: hidden;
}

.contact-left {
  color: white;
}

.contact-tag {
  margin: 0 0 22px;
  color: #1ed760;

  font-size: 13px;
  font-weight: 900;
  letter-spacing: 5px;
}

.contact-left h2 {
  margin: 0;

  max-width: 650px;

  font-size: clamp(3rem, 5vw, 5.5rem);
  line-height: .92;
  letter-spacing: -4px;
  font-weight: 900;
}

.contact-desc {
  margin-top: 28px;

  max-width: 520px;

  font-size: 21px;
  line-height: 1.6;

  color: rgba(255,255,255,.72);
}




.contact-right {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.contact-card {
  display: flex;
  gap: 18px;
  align-items: center;

  padding: 28px;

  border-radius: 28px;

  background: rgba(255,255,255,.08);
  backdrop-filter: blur(14px);

  border: 1px solid rgba(255,255,255,.08);
}

.contact-card span {
  font-size: 32px;
}

.contact-card h4 {
  margin: 0 0 4px;
  color: white;
  font-size: 20px;
}

.contact-card p {
  margin: 0;
  color: rgba(255,255,255,.65);
}

@media (max-width: 768px) {
  .contact-inner {
    width: calc(100% - 32px);

    padding: 34px 20px;

    grid-template-columns: 1fr;
    gap: 34px;

    min-height: auto;
  }

  .contact-left h2 {
    font-size: 3rem;
    line-height: .95;
    letter-spacing: -2px;
  }

  .contact-desc {
    font-size: 16px;
  }

  .contact-card {
    padding: 20px;
    border-radius: 22px;
  }
}